<div class="filters-holder">
  <div class="container title-container">
    <h1 class="title-small">
      <%= t('store.general.results_for') %>
    </h1>
    <h1 class="title-big">
      <%= t("store.general.catalog") %>
    </h1>
  </div>
  <div class="container filters-container">
    <div class="filters-mobile-btn-holder">
      <button id="filters-mobile" class="btn btn-primary inverted">
        <span>
          <%= t("store.general.filters") %>
          <%= image_tag("icons/taxon_filter/filter.svg") %>
        </span>
      </button>
    </div>
    <div class="filters">
      <div class="filters-mobile-btn-hidden">
        <span>
          <%= image_tag("icons/taxon_filter/X.svg", class: "close-btn") %>
          <%= t("store.general.filters") %>
        </span>
        <p id="reset_btn">
          <%= t('store.general.reset_filters') %>
        </p>
      </div>
      <%= form_tag filter_products_path, method: :post, remote: true, format: :js do %>
        <% with_grandchildren = [:country] %>
        <% filters = [:wine_type, :country, :producer, :grape_type, :format] %>
        <% grandchild_key = { country: :region } %>

        <% filters.each do |taxonomy_key| %>
          <% localized_taxonomy_key = t("store.taxonomy_key.#{taxonomy_key}") %>
          <div class="filter-options-holder">
            <label class="filter-options">
              <%= image_tag("icons/taxon_filter/#{taxonomy_key}.svg") %>
              <p><%= t("store.product.index.filters.#{taxonomy_key}") %></p>
              <%= image_tag("icons/icon-chevron-down.svg") %>
            </label>
            <div class="filter-dropdown <%= 'show' unless selected_taxons[taxonomy_key].blank?  %>" data-taxonomy-key="<%= taxonomy_key %>">
              <% taxon_children(taxonomy_key, order: ("name asc")).each do |child_taxon| %>

                <% child_taxon_checked = selected_taxons[taxonomy_key].to_a.include?(child_taxon) %>
                <% show_grandchildren = with_grandchildren.include?(taxonomy_key) && grandchild_key[taxonomy_key] %>

                <div class="dropdown-item" name="<%= taxonomy_key %>">
                  <label class="dropdown-item-title">
                    <%= check_box_tag "#{localized_taxonomy_key}[]", child_taxon.name, child_taxon_checked %>
                    <p><%= child_taxon.name %></p>
                  </label>
                  <% if show_grandchildren %>
                    <div class="dropdown-subitem-wrapper <%= 'show' if child_taxon_checked %>" data-grandchild-taxonomy-key="<%= grandchild_key[taxonomy_key] %>" name="<%= grandchild_key[taxonomy_key] %>">
                      <% Spree::Taxon.where(parent: child_taxon).each do |grandchild_taxon| %>

                        <% localized_taxonomy_subkey = t("store.taxonomy_key.#{grandchild_key[taxonomy_key]}") %>
                        <% grandchild_taxon_checked = selected_taxons[grandchild_key[taxonomy_key]].to_a.include?(grandchild_taxon) %>

                        <div class='dropdown-subitem'>
                          <%= check_box_tag "#{localized_taxonomy_subkey}[]", grandchild_taxon.name, grandchild_taxon_checked %>
                          <p><%= grandchild_taxon.name %></p>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= render partial: "spree/products/index/taxon_filter_price" %>
      <% end %>
    </div>
  </div>
</div>