<%= render partial: 'spree/shared/breadcrumbs', locals: { name: t('store.shared.footer.info.about_us') } %>

<div class="illocale">
  <div class="container">
    <h1 class="title">
      <%= t("store.home.who_we_are.title") %>
    </h1>
    <h3 class="subtitle"><%== t("store.home.who_we_are.subtitle") %></h3>

    <div class="content-holder">
      <div class="who-we-are-background"></div>

      <div class="content-top">
        <div class="col col-left">
          <div class="img-holder">
            <%= image_tag("home/who_we_are.jpg") %>
          </div>
          <div class="text-holder">
            <p class="text"><%= t("store.home.who_we_are.text") %></p>
          </div>
        </div>
        <div class="col col-right who_we_are_position">
          <h2><%= t("store.shared.footer.info.contacts") %></h2>
          <p>
            <%= t("store.shared.footer.contact.write_us") %>
            <% if store_email %>
              <a class="info-mail" href="mailto:<%= store_email %>"><%= store_email %></a>
            <% end %>

            <br>
            <%= t("store.home.who_we_are.write_as") %>
            <% if store_instagram %>
              <%= link_to "@#{store_instagram.to_s.split("/").last}", store_instagram %>
            <% end %>
          </p>
          <div class="social">
            <% if store_instagram %>
              <%= link_to store_instagram, target: :_blank do %>
                <%= image_tag("icons/social/icon-instagram-white.svg") %>
              <% end %>
            <% end %>
            <% if store_facebook %>
              <%= link_to store_facebook, target: :_blank do %>
                <%= image_tag("icons/social/icon-facebook-white.svg") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>