<% producer = featured_producer_taxon %>
<% products = @searcher.producer_products(featured_producer_taxon) if featured_producer_taxon %>
<% if producer && !products.empty? %>
  <%# cache(cache_key_for_home_products(:featured_producer, producer, products)) do %>
    <div class="container">
      <div class="col slider-col">
        <div class="zoom-effect">
          <% products.each do |product| %>
            <div class="product-col">
              <%= render partial: 'spree/shared/product_card', locals: { product: product } %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col info-col">
        <% producer_image = producer.gallery.images.first %>
        <% if producer_image %>
          <%= render('spree/shared/image', image: producer_image, size: :small, itemprop: "image") %>
        <% else %>
          <picture>
            <source srcset="<%= asset_path("producers/default-image.webp")%>" type='image/webp'>
            <%= image_tag("producers/default-image.jpg", itemprop: :image) %>
          </picture>
        <% end %>
        <div class="image-overlayer"></div>
        <h1 class="title"><%= t("store.home.featured_producer.title") %></h1>
        <h3 class="subtitle"><%= producer.name %></h3>
        <p class="text"><%== producer.description %></p>
        <%= link_to t("store.home.featured_producer.button"), seo_url(producer), class: "btn btn-white-transparent align-self-start" %>
      </div>
    </div>
  <%# end %>
<% end %>