<% collection = featured_collection_taxon %>
<% products = @searcher.collection_products(featured_collection_taxon) if featured_collection_taxon %>
<% if collection && !products.empty? %>
  <%# cache(cache_key_for_home_products(:featured_collection, collection, products)) do %>
    <div class="container">
      <div class="col info-col">
        <picture>
          <source srcset="<%= asset_path("home/new-products-background.webp")%>" type='image/webp'>
          <%= image_tag("home/new-products-background.jpg", itemprop: :image) %>
        </picture>
        <h1 class="title"><%= t("store.home.featured_collection.title") %></h1>
        <h3 class="subtitle"><%= collection.name %></h3>
        <p class="text"><%== collection.description %></p>
        <%= link_to t("store.home.featured_collection.button"), seo_url(collection), class: "btn btn-white-transparent" %>
      </div>
      <div class="col products-col">
        <div class="product-side zoom-effect">
          <% products.each do |product| %>
            <div class="product-wrapper">
              <%= render partial: 'spree/shared/product_card', locals: { product: product } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <%# end %>
<% end %>