<div class="container">
  <h1 class="title"><%= t("store.home.who_we_are.title") %></h1>
  <h3 class="subtitle"><%== t("store.home.who_we_are.subtitle") %></h3>

  <div class="content-holder">
    <div class="content-top">
      <div class="col col-left">
        <div class="img-holder">
          <%= image_tag("home/who-we-are/who-we-are-group.jpg") %>
        </div>
        <div class="text-holder">
          <p class="text"><%= t("store.shared.footer.about_us.text") %></p>
        </div>
      </div>
    </div>

    <div class="content-bottom">
      <div class="title-holder">
        <h1 class="title"><%= t("store.home.follow_us.title") %></h1>
        <% if store_instagram %>
          <%= link_to store_instagram, target: :_blank do %>
            <%= image_tag("icons/social/icon-instagram-white.svg") %>
          <% end %>
        <% end %>
        <% if store_facebook %>
          <%= link_to store_facebook, target: :_blank do %>
            <%= image_tag("icons/social/icon-facebook-white.svg") %>
          <% end %>
        <% end %>
      </div>
      <div class="image-columns">
         <%= render partial: "spree/shared/widget" %>
      </div>
    </div>
  </div>
  <% if store_instagram %>
    <%= link_to t("store.home.follow_us.button"), store_instagram, class: "btn btn-dark-transparent", target: :_blank %>
  <% end %>
</div>