<nav class="navbar" data-hook>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.label.home"), "/", class: "nav-link" %>
  </div>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.label.new_products"), seo_url(taxon_by_key(:new)), class: "nav-link #{conditionally_active_for(seo_url(taxon_by_key(:new)))}" %>
  </div>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.label.products"), "/products", class: "nav-link #{conditionally_active_for(products_path)}" %>
  </div>

  <%= render partial: 'spree/shared/header/nav_bar/nav_link_holder', locals: { taxon_key: :wine_type, order_by: 'name asc' } %>
  <%= render partial: 'spree/shared/header/nav_bar/nav_link_holder', locals: { taxon_key: :country, with_grandchildren: true, order_by: 'name asc' } %>
  <%= render partial: 'spree/shared/header/nav_bar/nav_link_holder', locals: { taxon_key: :producer, limit: 20, see_all_path: producers_path, order_by: Arel.sql('RAND()') } %>

  <div class="nav-link-holder orange">
    <%= link_to t("store.shared.main_menu.label.locale"), "/p/il-locale", class: "nav-link" %>
  </div>

  <div class="nav-link-holder orange">
    <%= link_to "https://widget.guestplan.com/?i=4a97af7f993671268ff936e5167bedd524ad5141", target: '_blank', class: "nav-link" do %>
      <%= t("store.shared.main_menu.label.book_a_table") %>
      <%= image_tag("icons/icon-calendar.svg") %>
    <% end %>
  </div>


</nav>
