<% if region %>
  <div class="slider-and-info-section">
    <%= image_tag("slider-and-info/slider-and-info-background.png", class: "background-image") %>


    <div class="container">
      <div class="col slider-col">
        <div class="zoom-effect">
          <% Spree::Product.products_for_taxon(taxon: region, limit: 2).each do |product| %>
            <div class="product-col">
              <%= render partial: 'spree/shared/product_card', locals: { product: product } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col info-col">

        <% region_image = region.gallery.images.first %>
        <% if region_image %>
          <%= render('spree/shared/image', image: region_image, size: :small, itemprop: "image") %>
        <% else %>
          <picture>
            <source srcset="<%= asset_path("regions/default-image.webp")%>" type='image/webp'>
            <%= image_tag("regions/default-image.jpg", itemprop: :image) %>
          </picture>
        <% end %>

        <h1 class="title"><%= t("store.product.region.title") %></h1>
        <h3 class="subtitle"><%= region.name %></h3>
        <p class="text"><%== region.description %></p>
        <%= link_to t("store.product.region.button"), seo_url(region), class: "btn btn-white-transparent align-self-start" %>
      </div>
    </div>
  </div>
<% end %>

