<%= render partial: 'spree/shared/breadcrumbs', locals: { name: t('store.general.account') } %>

<div class="profile">
  <div class="container">
    <div class="profile-title-holder">
      <h1 class="profile-title-big"><%= t('store.user.profile.welcome') %>, <%= try_spree_current_user.email.to_s.split('@').first  %></h1>
    </div>
    <div class="profile-content-holder">
      <div class="col profile-nav-col">
        <div class="profile-nav">
          <div class="profile-nav-link active" profile-nav-for="profile-info">
            <p><%= t('store.user.profile.my_profile') %></p>
            <%= image_tag("icons/icon-chevron-right.svg") %>
            <%= image_tag("icons/icon-chevron-right-primary.svg") %>
          </div>
          <div class="profile-nav-link" profile-nav-for="profile-orders">
            <p><%= t('store.user.profile.my_orders') %></p>
            <%= image_tag("icons/icon-chevron-right.svg") %>
            <%= image_tag("icons/icon-chevron-right-primary.svg") %>
          </div>
          <div class="profile-nav-link" profile-nav-for="profile-favourites">
            <p><%= t('store.user.profile.favourites') %></p>
            <%= image_tag("icons/icon-chevron-right.svg") %>
            <%= image_tag("icons/icon-chevron-right-primary.svg") %>
          </div>
          <div class="logout-btn-holder">
          <%= link_to spree.logout_path, method: Devise.sign_out_via do %>
            <%= content_tag :p, t('store.general.sign_out') %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col profile-content-col">
        <%= render partial: 'spree/users/profile_info' %>
        <%= render partial: 'spree/users/profile_orders', locals: { orders: @orders } %>
        <%= render partial: 'spree/users/profile_favourites' %>
      </div>
    </div>
  </div>
</div>