<header id="header" class="sticky" data-hook>
  <%= content_tag :div, class: "header-top-bar" do -%>
    <%= image_tag("icons/icon-delivery.svg") %>
    <%= content_tag :p, t('store.home.header.delivery_time_web'), class: "exceptSmallScreen" %>
    <%= content_tag :p, t('store.home.header.delivery_time_mob'), class: "smallScreen" %>
  <% end -%>
  <%= content_tag :div, class: "header-content" do -%>
    <figure id="logo" data-hook><%= logo %></figure>
    <div class="header-right">
      <div>
        <div id="search-bar" data-hook>
          <%= render partial: 'spree/shared/header/search' %>
          <div class="header-social">
            <% if store_instagram %>
              <%= link_to store_instagram, target: :_blank do %>
                <%= image_tag("icons/social/icon-instagram-black.svg") %>
              <% end %>
            <% end %>
            <% if store_facebook %>
              <%= link_to store_facebook, target: :_blank do %>
                <%= image_tag("icons/social/icon-facebook-black.svg") %>
              <% end %>
            <% end %>
          </div>          
        </div>
        <%= render partial: 'spree/shared/header/nav_bar' %>
      </div>
      <div class="header-actions">
        <div class="header-card-user-wrapper">
          <%= render partial: 'spree/shared/header/main_nav_bar' %>
          <%= render partial: 'spree/shared/header/user_nav' %>
        </div>
        <div class="hamburger">
          <span></span>
        </div>
      </div>
    </div>
  <% end -%>
</header>
