<% disabled = !product.master.can_supply? || max_product_quantity(product) == 0 %>
<% liked = try_spree_current_user ? (product.liked_by?(try_spree_current_user) ? 'liked' : 'not liked') : 'disabled' %>
<% cache ["product_card", I18n.locale, product, product.producer, current_pricing_options.cache_key, disabled, liked] do %>
  <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>

  <div class="product-card" id="product_<%= product.id %>" itemscope itemtype="http://schema.org/Product">
    <div class="product-image-holder">
      <div class="new-mark-top">
        <p><%= t('store.product.new') %></p>
      </div>
      <div class="new-mark-bottom">
        <p><%= t('store.general.new_product') %></p>
      </div>
      <div class="picture-holder">
        <% if product.gallery.images.first %>
          <%= link_to(render('spree/shared/image', image: product.gallery.images.first, size: :small, itemprop: "image"), url, itemprop: 'url') %>
        <% else %>
          <%= link_to(url, itemprop: 'url') do %>
            <picture>
              <source srcset="<%= asset_path("product/product-placeholder.webp")%>" type='image/webp'>
              <%= image_tag("product/product-placeholder.jpg", itemprop: :image) %>
            </picture>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="product-card-body">
      <div class="body-info">
        <p class='title'><%= product.producer&.name %></p>
        <p>
          <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
        </p>
      </div>
      <div class="body-actions-holder">
        <div class="price">
          <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <% if price = product.price_for(current_pricing_options) %>
              <span class="price selling" itemprop="price" content="<%= price.to_d %>">
                <%= price.to_html %>
              </span>
            <% end %>
            <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
          </span>
        </div>
        <div class="body-actions">
          <div class="add-to-cart">
            <% if disabled %>
              <div class="disabled-cart">
                <%= image_tag("icons/icon-disabled-cart.svg") %>
                <p class="disabled-cart-text"><%= t('store.product.disabled.product_out_of_store') %></p>
              </div>
            <% else %>
              <%= link_to plus_orders_path(id: product.master.id), remote: true do %>
                <%= image_tag("icons/icon-add-to-cart.svg") %>
              <% end %>
            <% end %>
          </div>
          <div class="favourite" data-favourite-icon="<%= product.id %>">
            <%= render partial: 'spree/shared/favourite_product_icon', locals: { product: product } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>