<div class="home-content">
  <div class="home-hero">
    <picture class="home-hero-image exceptSmallScreen">
      <source srcset="<%= asset_path("home/homepage_image.webp")%>" type='image/webp'>
      <%= image_tag("home/homepage_image.jpg", itemprop: :image) %>
    </picture>
    <picture class="home-hero-image smallScreen">
      <source srcset="<%= asset_path("home/homepage_image_mobile.webp")%>" type='image/webp'>
      <%= image_tag("home/homepage_image_mobile.jpg", itemprop: :image) %>
    </picture>

    <div class="home-title-holder">
      <p class="home-subtitle"><%= t('store.home.hero.subtitle')%></p>
      <h1 class="home-title"><%== t('store.home.hero.title')%></h1>
    </div>
  </div>

  <div data-hook="homepage_products" class="all-available-products">
    <%# cache(cache_key_for_products) do %>
      <%= render partial: 'spree/shared/products', locals: { products: @products } %>
    <%# end %>
  </div>
  <div class="products-button-holder">
    <%= link_to t('store.home.hero.catalog_button'), products_path, class: "btn btn-primary" %>
  </div>
  <div class="new-products-section">
    <%= render partial: 'spree/home/sections/new_products' %>
  </div>

  <div class="slider-and-info-section">
    <%= image_tag("home/slider-and-info-background.png", class: "background-image") %>
    <%= render partial: 'spree/home/sections/featured_producer' %>
  </div>

  <div class="featured-collection-products-section">
    <%= render partial: 'spree/home/sections/featured_collection' %>
  </div>

  <div class="who-we-are">
    <div class="who-we-are-background"></div>
    <%= render partial: 'spree/home/sections/who_we_are' %>
  </div>
</div>
